body{
    background-color:blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FullBorder{
    border: 1px solid blueviolet;
    width: 100%;
    height: 590px;
    overflow: auto;
    margin: auto;
    margin-top: 15px;
    background-color: whitesmoke;
}

.Heading{
    padding: 6px 1px 1px 30px;
}

.title{
    color: rgb(114, 7, 214);
    font-weight: 700;
}

.subtitle{
    font-size: 19px;
    color: rgb(230, 57, 201);
    font-weight: 600;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    width: 80%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.name{
    position: relative;
    left:30px;
    color: black;
    font-weight: bold;
}

.row{
    position: relative;
    top: 20px;
    width: 86%;
}

.inputbox{
    position: relative;
    left: 30px;
    border-color: black;
}

input[type=submit]{
    width: 80%;
    padding: 12px 20px;
    margin: 18px 28px;
    box-sizing: border-box;
    background-color: rgb(111, 76, 143);
    cursor: pointer;
    border-color: blueviolet; 
    font-size: 18px;
    color: white;
    font-weight: bold;
}

input[type=submit]:hover, input[type=submit]:active{
    background-color: blueviolet;
}

.name-error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}
  
.name-error.active {
    padding: 0.3em;
}

.error{
    color:red;
}

.success_text {
    text-align: center;
    font-weight: bold;
}

.success{
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding-right: 56px;
}

.containerin{
    margin: 20px 14px;
    width: 80%;
}

#hidTable{
    display: none;
}
